@model ProjectManager.Web.Models.ViewModel.ProjectsCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>


<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Create</h2>
                    <div>
                        <span>1. Create</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                        <span style="color: #AAAAAA">2. Manage project members</span>
                    </div>
                </div>
                <div class="panel-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="EmployeeProject.Project.ProjectName" class="control-label"></label>
                                    <input required="True" asp-for="EmployeeProject.Project.ProjectName" class="form-control" />
                                    <span asp-validation-for="EmployeeProject.Project.ProjectName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Project Manager</label>
                                    <select asp-for="EmployeeProject.EmployeeId" asp-items="@Model.ProjectManagers" class="form-control"></select>
                                    <span asp-validation-for="EmployeeProject.EmployeeId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmployeeProject.Project.Status" class="control-label"></label>
                                    <select asp-for="EmployeeProject.Project.Status" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.ProjectStatusType>()" class="form-control"></select>
                                    <span asp-validation-for="EmployeeProject.Project.Status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmployeeProject.Project.Startdate" class="control-label"></label>
                                    <input asp-for="EmployeeProject.Project.Startdate" type="date" class="form-control" />
                                    <span asp-validation-for="EmployeeProject.Project.Startdate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmployeeProject.Project.Enddate" class="control-label"></label>
                                    <input asp-for="EmployeeProject.Project.Enddate" type="date" class="form-control" />
                                    <span asp-validation-for="EmployeeProject.Project.Enddate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="EmployeeProject.Project.ValuedTime" class="control-label"></label>
                                    <input asp-for="EmployeeProject.Project.ValuedTime" class="form-control" />
                                    <span asp-validation-for="EmployeeProject.Project.ValuedTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmployeeProject.Project.Deadline" class="control-label"></label>
                                    <input asp-for="EmployeeProject.Project.Deadline" type="date" class="form-control" />
                                    <span asp-validation-for="EmployeeProject.Project.Deadline" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmployeeProject.Project.Information" class="control-label"></label>
                                    <textarea asp-for="EmployeeProject.Project.Information" rows="6" class="form-control"></textarea>
                                    <span asp-validation-for="EmployeeProject.Project.Information" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="pager">
                            <a asp-controller="Projects" asp-action="List" class="btn btn-default"><i class="fas fa-chevron-left"></i> Overview</a>
                            <input type="submit" value="Next" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



