@model ProjectManager.Web.Models.ViewModel.TasksCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Tasks</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Project.Id" type="hidden" />
            <input asp-for="Task.ProjectId" type="hidden" />

            <div class="form-group">
                <label asp-for="Task.TaskName" class="control-label"></label>
                <input asp-for="Task.TaskName" class="form-control" />
                <span asp-validation-for="Task.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Priority" class="control-label"></label>
                <select asp-for="Task.Priority" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.PriorityType>()" class="form-control"></select>
                <span asp-validation-for="Task.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Status" class="control-label"></label>
                <select asp-for="Task.Status" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.TaskStatusType>()" class="form-control"></select>
                <span asp-validation-for="Task.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Information" class="control-label"></label>
                <input asp-for="Task.Information" class="form-control" />
                <span asp-validation-for="Task.Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Created" class="control-label"></label>
                <input asp-for="Task.Created" type="date" class="form-control" />
                <span asp-validation-for="Task.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Enddate" class="control-label"></label>
                <input asp-for="Task.Enddate" type="date" class="form-control" />
                <span asp-validation-for="Task.Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Deadline" class="control-label"></label>
                <input asp-for="Task.Deadline" type="date" class="form-control" />
                <span asp-validation-for="Task.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.ValuedTime" class="control-label"></label>
                <input asp-for="Task.ValuedTime" class="form-control" />
                <span asp-validation-for="Task.ValuedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mitarbeiter</label>
                <select asp-for="EmployeeTask.EmployeeId" asp-items="@Model.Employees" class="form-control"><option></option></select>
                <span asp-validation-for="EmployeeTask.EmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                @{ Model.Project = Model.Project;}
            </div>

            <div class="form-group">
                <input type="submit" value="Task anlegen" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<a asp-area="" asp-controller="Tasks" asp-action="List" class="btn btn-primary">Zurück</a>