@model ProjectManager.Web.Models.ViewModel.TasksCreateViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Task.TaskName" class="control-label"></label>
                @*<input asp-for="EmployeeTask.Task.TaskName" asp-items="@Model.Project" class="form-control" />*@
                <input asp-for="Task.TaskName" class="form-control" />
                <span asp-validation-for="Task.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Priority" class="control-label"></label>
                <select asp-for="Task.Priority" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.PriorityType>()" class="form-control"></select>
                <span asp-validation-for="Task.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Status" class="control-label"></label>
                <select asp-for="Task.Status" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.TaskStatusType>()" class="form-control"></select>
                <span asp-validation-for="Task.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Information" class="control-label"></label>
                <input asp-for="Task.Information" class="form-control" />
                <span asp-validation-for="Task.Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Startdate" class="control-label"></label>
                <input asp-for="Task.Startdate" type="date" class="form-control" />
                <span asp-validation-for="Task.Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Enddate" class="control-label"></label>
                <input asp-for="Task.Enddate" type="date" class="form-control" />
                <span asp-validation-for="Task.Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Deadline" class="control-label"></label>
                <input asp-for="Task.Deadline" type="date" class="form-control" />
                <span asp-validation-for="Task.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.ValuedTime" class="control-label"></label>
                <input asp-for="Task.ValuedTime" class="form-control" />
                <span asp-validation-for="Task.ValuedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mitarbeiter</label>
                <select asp-for="EmployeeTask.EmployeeId" asp-items="@Model.Employees" class="form-control"></select>
                <span asp-validation-for="EmployeeTask.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group disabled">
                <label asp-for="Project.ProjectName" class="control-label"></label>
                <input asp-for="Project.ProjectName" class="form-control" />
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>
            @Html.ValidationSummary()

            @*<div class="form-group">
            <label class="control-label">Mitarbeiter</label>
            <select asp-for="EmployeeTask.EmployeeId" asp-items="@Model.Employees" class="form-control"></select>
            <span asp-validation-for="EmployeeTask.Employee" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Task anlegen" class="btn btn-sucess" />
            </div>
        </form>
    </div>
</div>

<li><a asp-area="" asp-controller="Tasks" asp-action="List" class="btn btn-primary">Zurück</a></li>

@*Dummie projekt für mitarbeiter, Projektleiter hat alle seine projekte zur auswahl*@

@*projekte und employes sind null*@