@model ProjectManager.Web.Models.ViewModel.TasksEditViewModel


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Task.Information" class="control-label"></label>
                <input asp-for="EmployeeTask.Task.Information" class="form-control" />
                <span asp-validation-for="EmployeeTask.Task.Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Employee.Firstname" class="control-label"></label>
                <input asp-for="EmployeeTask.Employee.Firstname" class="form-control" />
                <span asp-validation-for="EmployeeTask.Employee.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Employee.Lastname" class="control-label"></label>
                <input asp-for="EmployeeTask.Employee.Lastname" class="form-control" />
                <span asp-validation-for="EmployeeTask.Employee.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Task.Status" class="control-label"></label>
                <select asp-for="EmployeeTask.Task.Status" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.TaskStatusType>()" class="form-control"></select>
                <span asp-validation-for="EmployeeTask.Task.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Task.Priority" class="control-label"></label>
                <select asp-for="EmployeeTask.Task.Priority" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.PriorityType>()" class="form-control"></select>
                <span asp-validation-for="EmployeeTask.Task.Priority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>




<a asp-area="" asp-controller="Tasks" asp-action="List" class="btn btn-primary">Zurück</a>
