@model ProjectManager.Web.Models.ViewModel.TasksEditViewModel


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Task.TaskName" class="control-label"></label>
                <input asp-for="EmployeeTask.Task.TaskName" class="form-control" />
                <span asp-validation-for="EmployeeTask.Task.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Employee.Firstname" class="control-label"></label>
                <input asp-for="EmployeeTask.Employee.Firstname" class="form-control" />
                <span asp-validation-for="EmployeeTask.Employee.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTask.Employee.Lastname" class="control-label"></label>
                <input asp-for="EmployeeTask.Employee.Lastname" class="form-control" />
                <span asp-validation-for="EmployeeTask.Employee.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Terminart:</label>
                <select class="form-control">
                    <option>Frei</option>
                    <option>In Bearbeitung</option>
                    <option>Korrigieren</option>
                    <option>Fertig</option>

                </select>
                @*<label asp-for="EmployeeTas.Task.Status" class="control-label"></label>
                <input asp-for="EmployeeTask.Task.Status" class="form-control" />
                <span asp-validation-for="EmployeeTask.Task.Status" class="text-danger"></span>*@

            </div>
      

            @*<div class="form-group">
            <label asp-for="EmployeeTask.Task." class="control-label"></label>
            <input asp-for="EmployeeTask.Task." class="form-control" />
            <span asp-validation-for="EmployeeTask.Task." class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="EmployeeTask.Task." class="control-label"></label>
            <input asp-for="EmployeeTask.Task." class="form-control" />
            <span asp-validation-for="EmployeeTask.Task." class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="FixedTask" /> @Html.DisplayNameFor(model => model.FixedTask)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Information" class="control-label"></label>
            <input asp-for="Information" class="form-control" />
            <span asp-validation-for="Information" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Startdate" class="control-label"></label>
            <input asp-for="Startdate" class="form-control" />
            <span asp-validation-for="Startdate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Enddate" class="control-label"></label>
            <input asp-for="Enddate" class="form-control" />
            <span asp-validation-for="Enddate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValuedTime" class="control-label"></label>
            <input asp-for="ValuedTime" class="form-control" />
            <span asp-validation-for="ValuedTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Deadline" class="control-label"></label>
            <input asp-for="Deadline" class="form-control" />
            <span asp-validation-for="Deadline" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Timestamp" class="control-label"></label>
            <input asp-for="Timestamp" class="form-control" />
            <span asp-validation-for="Timestamp" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>*@
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@



<a asp-area="" asp-controller="Tasks" asp-action="List" class="btn btn-primary">Zurück</a>
