@model ProjectManager.Web.Models.ViewModel.TasksEditViewModel


@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Edit Tasks</h2>
                </div>

                <div class="panel-body">

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Tasks.Information" class="control-label"></label>
                            <input asp-for="Tasks.Information" class="form-control" />
                            <span asp-validation-for="Tasks.Information" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tasks.Status" class="control-label"></label>
                            <select asp-for="Tasks.Status" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.TaskStatusType>()" class="form-control"></select>
                            <span asp-validation-for="Tasks.Status" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Tasks.Priority" class="control-label"></label>
                            <select asp-for="Tasks.Priority" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.PriorityType>()" class="form-control"></select>
                            <span asp-validation-for="Tasks.Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mitarbeiter</label>
                            <select asp-for="EmployeeTask.EmployeeId" asp-items="@Model.Employees" class="form-control"><option></option></select>
                            <span asp-validation-for="EmployeeTask.EmployeeId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Tasks.Created" class="control-label"></label>
                            <input asp-for="Tasks.Created" type="date" class="form-control" />
                            <span asp-validation-for="Tasks.Created" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tasks.Enddate" class="control-label"></label>
                            <input asp-for="Tasks.Enddate" type="date" class="form-control" />
                            <span asp-validation-for="Tasks.Enddate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tasks.Deadline" class="control-label"></label>
                            <input asp-for="Tasks.Deadline" type="date" class="form-control" />
                            <span asp-validation-for="Tasks.Deadline" class="text-danger"></span>
                        </div>


                        <input type="hidden" asp-for="Tasks.Project" />
                        <input type="hidden" asp-for="Tasks.ProjectId" />
                        <input type="hidden" asp-for="Tasks.TaskName" />
                        <input type="hidden" asp-for="Tasks.FixedTask" />
                        <input type="hidden" asp-for="Tasks.Created" />
                        <input type="hidden" asp-for="Tasks.Enddate" />
                        <input type="hidden" asp-for="Tasks.ValuedTime" />
                        <input type="hidden" asp-for="Tasks.Deadline" />
                        <input type="hidden" asp-for="Tasks.Id" />
                        <input type="hidden" asp-for="Project" />
                        <input type="hidden" asp-for="ProjectId" />
                        <input type="hidden" asp-for="Tasks.Timestamp" />
                        <input type="hidden" asp-for="Tasks" />

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </form>

                    <a asp-area="" asp-controller="Tasks" asp-action="List" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>