@model ProjectManager.Web.Models.ViewModel.TasksListViewModel

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<a asp-controller="Tasks" asp-action="Create" class="btn btn-primary">Task anlegen</a>



<h3>Tasks Übersicht</h3>

<a asp-area="" asp-controller="Tasks" asp-action="FinishList" class="btn btn-primary">Abgeschlossene Tasks</a>
<a asp-area="" asp-controller="Tasks" asp-action="OpenList" class="btn btn-primary">Offene Tasks</a>
<a asp-area="" asp-controller="Tasks" asp-action="InProgressList" class="btn btn-primary"> Tasks in Bearbeitung</a>

 

