@{
    ViewData["Title"] = "LoginScreen";
}

<!doctype html>

<html lang="de">
<head>
    <title>Login-....</title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h3>Herzlich Willkommen beim revolutionären Projektmanager</h3>
    </header>
    <content>
        <form>
            <label>Username: </label>
            <input type="text" name="EinName" size="30" maxlength="40" />
            <label>Passwort: </label>
            <input type="password" name="pw" size="30" maxlength="40" />

            <a.href asp-controller="Home" asp-action="Feed" class="btn btn-default">Einloggen</a.href>
        </form>
    </content>

    <a href="mailto:thomasbaurn@outlook.com">Passwort vergessen</a>
</body>
</html>

