@{
    ViewData["Title"] = "LoginScreen";
}
<!doctype html>

<html lang="de">
<head>
    <title>Login-....</title>
    <meta charset="utf-8"/>
</head>
<body>
    <header>
        <h3>Herzlich Willkommen beim revolutionären Projektmanager</h3>
    </header>
    <content>
        <form>
            Username:
            <input type="text" name="EinName" size="30" maxlength="40" />
            Passwort:
            <input type="password" name="pw" size="30" maxlength="40" />
            <input type="submit" value="Einloggen" size="15" />
        </form>
    </content>

    <a href="mailto:thomasbaurn@outlook.com">Passwort vergessen</a>
</body>
</html>
