@{
    ViewData["Title"] = "LoginScreen";
}

<!doctype html>

<html lang="de">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h1>Herzlich Willkommen beim erotischen Projektmanager!!!</h1>
    </header>
</body>
</html>

