@model ProjectManager.Core.Entities.Qualification

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Create</h2>
                </div>
                <div class="panel-body">
                    <form asp-action="Create" asp-controller="Qualifications">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input asp-for="QualificationName" class="form-control" />
                                    <span asp-validation-for="QualificationName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="pager">
                            <a asp-controller="Qualifications" asp-action="List" class="btn btn-default"><i class="fas fa-chevron-left"></i> Overview</a>
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
