@model ProjectManager.Web.Models.ViewModel.QualificationsListViewModel

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-controller="Qualifications" asp-action="Create" class="btn btn-default">Neue Qualifikation erstellen</a>
</p>

<form asp-controller="Qualifications" asp-action="List">
    <div class="form-group">
        <input asp-for="FilterProjectName" class="form-control" />
        <span asp-validation-for="FilterProjectName" class="text-danger"></span>
    </div>
    <input type="submit" value="Filter Qualifikation" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Qualifikation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Qualifications)
        {
            @if (item.QualificationName == "Projekt Manager")
            {
                <tr>
                    <td>
                        @item.QualificationName
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @item.QualificationName
                    </td>
                    <td>
                        <a asp-controller="Qualifications" asp-action="Edit" asp-route-qualId="@item.Id">Edit</a> |
                        <a asp-controller="Qualifications" asp-action="Delete" asp-route-qualId="@item.Id">Löschen</a>
                    </td>
                </tr>

            }

        }
    </tbody>
</table>
