
@{
    ViewData["Title"] = "Create";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h3>Create Department</h3>
    </header>


</body>
</html>
