
@{
    ViewData["Title"] = "CreateAppointment";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />
    
</head>
<body>
    <header>
        <h3>Termin erstellen</h3>
    </header>
    <content>
        <form>
            <fieldset>
                <p>
                    <label>Terminname:</label>
                    <input type="Text" name="TerminName" , size="30" maxlength="50" \A />
                </p>
                <p>
                    <div class="form-group">
                        <label>Terminart:</label>
                        <select class="form-control" >
                            <option>Arztbesuch</option>
                            <option>Kunde</option>
                            <option>Urlaub</option>
                            <option>Krank</option>
                            <option>Andere</option>
                        </select>
                    </div>
                </p>   
                <p>
                    <label>Starttermin</label>
                    <input type="datetime" name="StartTermin" , size="30" maxlength="50" \A />
                    <label>Endtermin</label>
                    <input type="datetime" name="Endtermin" , size="30" maxlength="50" />
                </p>
                <p>
                    <label>FirstName</label>
                    <input type="text" name="Vorname" , size="30" maxlength="50" />
                    <label>LastName</label>
                    <input type="text" name="Nachname" , size="30" maxlength="50" />
                </p>
                <p>
                    <label>Kommentar</label>
                    <input type="text" name="Kommentar" , size="150" maxlength="150" />
                </p>
                <p>
                    <input type="submit" value="Erstellen" class="btn btn-primary" />
                </p>
            </fieldset>            
        </form>



    </content>

</body>
</html>

