@model ProjectManager.Web.Models.ViewModel.AppointmentCreateViewModel
@{
    ViewData["Title"] = "CreateAppointment";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">


            <div class="form-group">
                <label asp-for="Appointment.AppoName" class="control-label"></label>
                <input asp-for="Appointment.AppoName" class="form-control" />
                <span asp-validation-for="Appointment.AppoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppoType" class="control-label"></label>
                <select asp-for="Appointment.AppoType" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.AppointmentType>()" class="form-control"></select>
                <span asp-validation-for="Appointment.AppoType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Startdate" class="control-label"></label>
                <input asp-for="Appointment.Startdate" type="date" class="form-control" />
                <span asp-validation-for="Appointment.Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Enddate" class="control-label"></label>
                <input asp-for="Appointment.Enddate" type="date" class="form-control" />
                <span asp-validation-for="Appointment.Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Information" class="control-label"></label>
                <input asp-for="Appointment.Information" class="form-control" />
                <span asp-validation-for="Appointment.Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mitarbeiter</label>
                <select asp-for="Appointment.EmployeeId" sp-items="@Model.Employees" class="form-control" />
                <span asp-validation-for="Appointment.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-sucess" />
            </div>

        </form>
    </div>
</div>

<li><a asp-area="" asp-controller="Appointments" asp-action="Show" class="btn btn-primary">Zurück</a></li>
