@model ProjectManager.Web.Models.ViewModel.AppointmentCreateViewModel
@{
    ViewData["Title"] = "CreateAppointment";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />

</head>
<body>
    <header>
        <h3>Termin erstellen</h3>
    </header>
    @*<content>
            <form>
                <fieldset>
                    <p>
                        <label>Terminname:</label>
                        <input type="Text" name="TerminName" , size="30" maxlength="50" \A />
                    </p>
                    <p>
                        <div class="form-group">
                            <label>Terminart:</label>
                            <select class="form-control">
                                <option>Arztbesuch</option>
                                <option>Kunde</option>
                                <option>Urlaub</option>
                                <option>Krank</option>
                                <option>Andere</option>
                            </select>
                        </div>
                    </p>
                    <p>
                        <label>Starttermin</label>
                        <input type="datetime" name="StartTermin" , size="30" maxlength="50" \A />
                        <label>Endtermin</label>
                        <input type="datetime" name="Endtermin" , size="30" maxlength="50" />
                    </p>
                    <p>
                        <label>FirstName</label>
                        <input type="text" name="Vorname" , size="30" maxlength="50" />
                        <label>LastName</label>
                        <input type="text" name="Nachname" , size="30" maxlength="50" />
                    </p>
                    <p>
                        <label>Kommentar</label>
                        <input type="text" name="Kommentar" , size="150" maxlength="150" />
                    </p>
                    <p>
                        <input type="submit" value="Erstellen" class="btn btn-primary" />
                    </p>
                </fieldset>
            </form>



        </content>*@

    <div class="form-group">
        <label asp-for="Appointment.AppoName" class="control-label"></label>
        <input asp-for="Appointment.AppoName" class="form-control" />
        <span asp-validation-for="Appointment.AppoName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Appointment.AppoType" class="control-label"></label>
        <select asp-for="Appointment.AppoType" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.AppointmentType>()" class="form-control"></select>
        <span asp-validation-for="Appointment.AppoType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Appointment.Startdate" class="control-label"></label>
        <input asp-for="Appointment.Startdate" type="date" class="form-control" />
        <span asp-validation-for="Appointment.Startdate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Appointment.Enddate" class="control-label"></label>
        <input asp-for="Appointment.Enddate" type="date" class="form-control" />
        <span asp-validation-for="Appointment.Enddate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Appointment.Information" class="control-label"></label>
        <input asp-for="Appointment.Information" class="form-control" />
        <span asp-validation-for="Appointment.Information" class="text-danger"></span>
    </div>
    <p>
        <input type="submit" value="Erstellen" class="btn btn-primary" />
    </p>
</body>
</html>

