@model ProjectManager.Web.Models.ViewModel.Employees.EmployeesCreateEmployeeViewModel

@{
    ViewData["Title"] = "CreateEmployee";
}

<h2>CreateEmployee</h2>

<h4>EmployeesCreateEmployeeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployee">
            @*
        Fremdschlüsssel anlegen anschauen!!
        Enumerator anlegen anschauen!!
        Profilbild einfügen!!
            *@
            <div class="form-group">
                <label asp-for="Employee.Lastname" class="form-control"></label>
                <input asp-for="Employee.Lastname" type="text" class="form-control" />
                <span asp-validation-for="Employee.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Firstname" class="form-control"></label>
                <input asp-for="Employee.Firstname" type="text" class="form-control" />
                <span asp-validation-for="Employee.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Lastname" class="form-control"></label>
                <input asp-for="Employee.Lastname" type="text" class="form-control" />
                <span asp-validation-for="Employee.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Job" class="form-control"></label>
                <input asp-for="Employee.Job" type="text" class="form-control" />
                <span asp-validation-for="Employee.Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Birthdate" class="form-control"></label>
                <input asp-for="Employee.Birthdate" type="date" class="form-control" />
                <span asp-validation-for="Employee.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.StreetNameAndNr" class="form-control"></label>
                <input asp-for="Employee.StreetNameAndNr" type="text" class="form-control" />
                <span asp-validation-for="Employee.StreetNameAndNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ZipCode" class="form-control"></label>
                <input asp-for="Employee.ZipCode" type="text" class="form-control" />
                <span asp-validation-for="Employee.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Residence" class="form-control"></label>
                <input asp-for="Employee.Residence" type="text" class="form-control" />
                <span asp-validation-for="Employee.Residence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.HiringDate" class="form-control"></label>
                <input asp-for="Employee.HiringDate" type="date" class="form-control" />
                <span asp-validation-for="Employee.HiringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Phonenumber" class="form-control"></label>
                <input asp-for="Employee.Phonenumber" type="text" class="form-control" />
                <span asp-validation-for="Employee.Phonenumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Employees" asp-action="List">Back to List</a>
</div>

@*<div class="form-group">
    <label asp-for="Usage.From" class="control-label"></label>
    <input asp-for="Usage.From" type="date" class="form-control" />
    <span asp-validation-for="Usage.From" class="text-danger"></span>
</div>*@
