@model ProjectManager.Web.Models.EmployeesEditProfilViewModel

@{
    ViewData["Title"] = "EditProfil";
}

<h2>EditProfil</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.StreetNameAndNr" class="control-label"></label>
                <input asp-for="Employee.StreetNameAndNr" class="form-control" />
                <span asp-validation-for="Employee.StreetNameAndNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ZipCode" class="control-label"></label>
                <input asp-for="Employee.ZipCode" class="form-control" />
                <span asp-validation-for="Employee.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Residence" class="control-label"></label>
                <input asp-for="Employee.Residence" class="form-control" />
                <span asp-validation-for="Employee.Residence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Phonenumber" class="control-label"></label>
                <input asp-for="Employee.Phonenumber" class="form-control" />
                <span asp-validation-for="Employee.Phonenumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>

            <input type="hidden" asp-form="Employee.Department" />
            <input type="hidden" asp-form="Employee.DepartmentId" />
            <input type="hidden" asp-form="Employee.Firstname" />
            <input type="hidden" asp-form="Employee.Lastname" />
            <input type="hidden" asp-form="Employee.Job" />
            <input type="hidden" asp-form="Emplyee.Status" />
            <input type="hidden" asp-form="Emplyee.Profilpicture" />
            <input type="hidden" asp-form="Emplyee.Birthdate" />
            <input type="hidden" asp-form="Emplyee.HiringDate" />
        </form>
    </div>
</div>

@*<div>
    <a asp-controller="Employees" asp-action="Profil" asp-route-employeeId="@Model.Employee.Id" class="btn btn-default">Zurück zum Profil</a>
</div>*@




