
@{
    ViewData["Title"] = "EditView";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="header">
        <h1>Der Feed</h1>
        <p>Your personal Overview</p>
    </div>
    <div id="sidebar">
        <p>something on the side</p>
    </div>
</body>
</html>

