@model ProjectManager.Web.Models.ViewModel.Employees.EmployeesFeedViewModel

@{
    ViewData["Title"] = "EditView";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="header">
        <h1>Der Feed</h1>
        <p>Your personal Overview</p>
    </div>
    <div>
        <div>
            <table class="table" style="width:400px">
                <tr>
                    <th>Taskname</th>
                    <th>Priorität</th>
                </tr>
                @foreach (var obj in Model.EmployeeTaskList)
                {
                    <tr>
                        <td>@obj.Task.TaskName</td>
                        <td>@obj.Task.Priority</td>
                    </tr>
                }
            </table>
            <table class="table" style="width:400px">
                <tr>
                    <th>Taskname</th>
                    <th>Priorität</th>
                </tr>
                @foreach (var obj in Model.EmployeeTaskList)
                {
                    <tr>
                        <td>@obj.Task.TaskName</td>
                        <td>@obj.Task.Priority</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>

